# dependencies
node_modules/

# build output
dist/

# local env files
.env
.env.*
!.env.example

# editor / OS
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
